<div style="height: 100vh;" class="animated fadeIn">
    <div class="flex-center flex-column">
        <div class="auth-content">
            <div class="logo mb-2">
                <img src="assets/img/logo.png" class="img-fluid" alt="Application Logo">
            </div>
            <mdb-card class="mb-2">
                <mdb-card-body>
                    <form>
                        <div class="md-form">
                            <input mdbInput type="email" id="materialFormSubscriptionEmailEx" class="form-control">
                            <label for="materialFormSubscriptionEmailEx">Email address</label>
                        </div>
                        <div class="md-form">
                            <input mdbInput type="password" id="materialFormSubscriptionPasswordEx" class="form-control">
                            <label for="materialFormSubscriptionPasswordEx">Password</label>
                        </div>
                        <div class="md-form">
                            <input mdbInput type="text" id="materialFormSubscriptionFirstNameEx" class="form-control">
                            <label for="materialFormSubscriptionFirstNameEx">First Name</label>
                        </div>
                        <div class="md-form">
                            <input mdbInput type="text" id="materialFormSubscriptionLastNameEx" class="form-control">
                            <label for="materialFormSubscriptionLastNameEx">Last Name</label>
                        </div>

                        <p>Sign up as:</p>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="signUpAsStudent" name="materialExampleRadios" mdbInput>
                            <label class="form-check-label" for="signUpAsStudent">Student</label>
                        </div>

                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="signUpAsInstructor" name="materialExampleRadios" mdbInput>
                            <label class="form-check-label" for="signUpAsInstructor">Instructor</label>
                        </div>

                    </form>
                </mdb-card-body>
            </mdb-card>

            <div class="text-center">
                <a href="#" mdbBtn class="btn btn-default btn-sm mb-3 btn-block">Register</a>
                <span class="small-link">Already have an account? </span>
                <a href="login.html" class="small-link">Login</a>
            </div>
        </div>
    </div>
</div>
